@media (max-width: 825px) {
    #header-content-container{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .channel-visible{
        visibility: visible;
        width: unset;
        height: unset;
    }
    .channel-top-bar-container{
        position: fixed;
        width: 100vw;
        height: 6vh;
        background-color: white;
        display: grid;
        gap: 42px;
        grid-template-columns: 1fr 1fr 1fr;
        z-index: 9999;
        align-items: center;
    }
    .home-page-import{
        justify-content: center;
        width: 100vw;
        margin-top: 0px;
    }
    .channel-cover{
        border-radius: 0px;
        width: 100vw;
        height: 10vh;
        position: relative;
        top: 6vh;
        z-index: 0px;
    }
    .channel-interactions-block{
        display: grid;
        align-items: start;
        margin-left: 16px;
        height: 240px;
        width: 100vw;
        left: 11px;
    }
    .channel-page-recomentaions-last{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .main-page-channel-title{
        visibility: hidden;
        margin: 0px;
        width: 0px;
        height: 0px;
    }
    .channel-tabs-bar{
        margin: 0px;
        width: 100vw;
        gap: 40px;
        grid-template-columns: repeat(4, 1fr)
    }
    .home-page-import{
        display: flex;
        gap: 30px;
        flex-flow: column;
    }
    .channel-tabs-bar div:nth-child(n+5){
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .channel-logo{
        z-index: 999;
    }
    #recent-updates-container, .channel-tabs-bar{
        margin-left: 16px;
    }
    #channel-bell{
        visibility: hidden;
        margin: 0px;
        height: 0px;
        width: 0px;
    }
    #responsive-channel-title-bar{
        display: flex;
        width: 183px;
        height: 100%;
        align-items: center;
        font-size: 16px;
        gap: 10px;
        font-weight: bold;
    }
    #channel-search-logo{
        margin:auto;
    }
    #search-logo{
        visibility: hidden;
    }
    #channel-subscribe-button{
        height: 34px;
        margin-bottom: 30px;
    }
}